




// closing button of img-front
#img-front-close{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    outline: none;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 80%;
}
