:root {
  --primary-color: rgb(115, 43, 6);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Candal', sans-serif;
  background-color: #aee1f9;
  background: linear-gradient(315deg, #aee1f9 0%, #c5b5ad 74%);
}

.container {
  display: grid;
  place-items: center;
}

.card-box {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(0, 0) rotateZ(-5deg);
  transition: all 300ms ease;
}

.card-box p {
  font-size: 30px;
  color: white;
}

.card-box.open {
  transform: scale(1, 1) rotateZ(0deg);
  transform-origin: left;
}

.image {
  width: 70%;
  height: 70%;
}

.cont-text {
  color: var(--primary-color);
  font-size: 70px;
  text-shadow: 3px 6px 25px #534d4d;
}

.img-front {
  position: fixed;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  top: 10vh;
  padding: 20px;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.85);
  transform: translateX(-110%);
  transition: all 300ms ease-in;
}

.transform {
  transform: translateX(0%);
}

.img-box {
  box-shadow: 4px 7px 12px white;
  transition: all 5s ease;
}

.moving {
  transform: translateX(30px);
}

#btn {
  outline: none;
  border: 2px solid #eaf1f1;
  font-family: 'Candal', sans-serif;
  background-color: transparent;
  color: #eaf1f1;
  border-radius: 25px;
  width: 350px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

header {
  grid-column: 1/13;
  height: 10vh;
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-links p {
  margin-left: 3rem;
  padding: 5px;
  color: var(--primary-color);
  text-shadow: 8px 11px 30px #161515;
  cursor: pointer;
}

.nav-links p::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transition: scale 2s ease-in;
}

.nav-links p:hover::after {
  transform: scale(1);
}

.x-close-button {
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  outline: none;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  font-size: 80%;
  cursor: pointer;
}

main {
  position: relative;
  grid-column: 1/13;
  height: 80vh;
  display: grid;
  place-items: center;
}

footer {
  display: flex;
  justify-content: end;
  height: 10vh;
  grid-column: 1/13;
  z-index: -1;
}

footer p {
  padding: 10px 25px;
  color: var(--primary-color);
  text-shadow: 3px 6px 10px #161616;
}
/*# sourceMappingURL=style.css.map */